@{
    var CurrentUser = GlobalSession.CurrentUser;
    string currentControllerName = Url.RequestContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="/Scripts/seajs/sea.js"></script>
    <script type="text/javascript" src="/Scripts/seajs/sea-config.js"></script>

</head>
<body class="cp-bodybox">     
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <div class="header">
        <div class="inner clearfix">
            <div class="fl">
                <a href="/" class="header-logo">
                    <img src="/Public/enterprise_logo/8.png">
                </a>
            </div>
            <!-- end logo -->

            <div class="header-nav fl">
                <ul class="header-nav-list clearfix">
                    <li class="fl @Html.GetActive(currentControllerName,"Admin","active")"><a href="/Admin/Index">人员管理</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"Product","active")"><a href="/Product/Index">商品管理</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"ProductType","active")"><a href="/ProductType/Index">商品分类</a></li>                    
                    <li class="fl @Html.GetActive(currentControllerName,"Attribute","active")"><a href="/Attribute/Index">商品属性</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"Order","active")"><a href="/Order/Index">订单管理</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"Shop","active")"><a href="/Shop/Index">店铺管理</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"RegionData","active")"><a href="/RegionData/Index">区域管理</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"Discount","active")"><a href="/Discount/Index">系统设置管理</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"Associator","active")"><a href="/Associator/Index">会员管理</a></li>
                    <li class="fl @Html.GetActive(currentControllerName,"Seller","active")"><a href="/Seller/Index">商家管理</a></li>
                </ul>
            </div>
            <script type="text/javascript">
                seajs.use(["/Scripts/head"], function (Sysrole) {
                    var $ = Sysrole.jQuery;
                    Sysrole.HeadController.init({ el: $("#J_ItemList"), url: '' });
                });
            </script>
            <!-- end header-nav -->

            <div class="fr">
                <ul class="header-ctrl clearfix">
                    <li class="header-ctrl-item fl">
                        <a href="javascript:;" class="header-ctrl-item-parent">
                            <i class="gicon-user white"></i>
                            <i class="gicon-user"></i>
                            账户
                        </a>
                        <ul class="header-ctrl-item-children">
                            <li><a href="/Admin/LogOut">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- end list -->
            <style>
                .helpCenter, .updatelog {
                    width: 65px;
                }
            </style>
            <span class="account_inbox_switch fr"><!-- <a href="/System/notice_list" class="header_mail"></a> --></span>
            <span class="header-welcome fr " style="width: 80px">
                <a href="javascript:;" title="@CurrentUser.UserName" class="tips" data-trigger="hover" data-placement="top">@CurrentUser.UserName</a>
            </span>
             <!-- end header-welcome -->
        </div>
    </div>
    <section>
        @RenderBody()
    </section>
</body>
</html>

